// Media Queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) { @content; }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet) { @content; }
  }
}

// Flexbox Helpers
@mixin flex-center {
  display: flex;
  align-items: center;
  justify_content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}